<div class="calendar-event-container">
  <ng-container *ngFor="let dailyEvents of eventsByDay">
    <nx-calendar-event
      *ngFor="let event of dailyEvents; let i = index;"
      [event]="dailyEvents[i]"
      [index]="i"
      [totalEvents]="dailyEvents.length"
    ></nx-calendar-event>
  </ng-container>
</div>
