<ul>
  <li *ngFor="let item of internalItems">
    {{item.ref | json}}
    <div>score: {{item.rating}}</div>
    <div>
      <button (click)="upvote(item)">+</button>
      <button (click)="downvote(item)">&ndash;</button>
    </div>
  </li>
</ul>
