<section class="calendar" *ngIf="cells.length">
  <table>
    <thead>
      <tr>
        <th
          *ngFor="let dayName of dayNamesForWeek"
          [style.width.px]="headerWidth"
        >
          {{dayName}}
        </th>
      </tr>
    </thead>
    <tbody class="calendar-body">
      <tr>
        <td *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]">
          <nx-calendar-cell
            *ngFor="let cell of cells[day]"
            [cell]="cell"
          >
          </nx-calendar-cell>
        </td>
      </tr>
      <nx-calendar-event-container
        [events]="events"
      ></nx-calendar-event-container>
    </tbody>
  </table>
</section>
